.contactUs {
   padding-bottom: 160px;
}
.contactUs .custom__title {
   text-align: center;
}
.contactUs__wrapper {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.contactUs__contacts {
   width: 363px;
   padding-left: 128px;
}
.contactUs__map {
   width: 680px;
   height: 374px;
   position: relative;
}
.loc__am {
   position: absolute;
   top: 270px;
   left: 50px;
}
.loc__eu {
   position: absolute;
   left: 357px;
   bottom: 151px;
}
.loc__as {
   position: absolute;
   top: 160px;
   right: 82px;
}
.contactUs__map>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.contactUs__contact {
   display: flex;
   align-items: center;
   column-gap: 33px;
}
.contactUs__contact>span, .contactUs__contact>a {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: var(--black--green);
   letter-spacing: -0.015em;
}
.contactUs .location {
   margin-bottom: 44px;
}
.contactUs .tel {
   margin-bottom: 58px;
}
.contactUs .email {
   margin-bottom: 43px;
}
.contactUs__minimap {
   display: none;
}
@media(max-width: 1200px) {
   .contactUs__contacts {
    
      width: max-content;
      margin: 0;
      padding: 0 !important;
   }
}
@media(max-width: 992px) {
   .custom__title {
      font-size: 60px;
      margin-left: 20px;
   }
   .contactUs__wrapper {
      flex-direction: column;
      row-gap: 60px;
      align-items: stretch;
      padding: 0;
   }
   .contactUs__contacts {
     padding-left: 127px !important;
   }
   .contactUs__map {
      width: 100%;
   }
}
@media(max-width: 468px) {
   .contactUs .container {
      width: 100%;
      padding: 0 !important;
   }
   
 
   .contactUs__contacts {
      width: 100%;
      padding: 0;
      padding-left: 23px !important;
   }
   .custom__title {
      font-size: 44px;
      line-height: 50px;
      text-align: left;
      margin: 0;
      display: inline;
      margin-left: 23px;
   }
   .contactUs__map {
     display: none;
   }
   .contactUs__minimap {
      display: block;
      width: 100%;
      padding: 0;
      height: 374px;
   }
   .contactUs__minimap>img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   .contactUs {
      padding-bottom: 0;
   }
}
@media(max-width: 320px) {
   .contactUs__minimap {
  
      height: 274px;
   }
}