

.contact .contactUs__map {
   width: max-content;
 
}
.contact .contactUs__map img{
   width: 797px;
   height: 374px;
   object-fit: fill;
   
}
@media(max-width: 992px) {
   .contactUs> .container {
      padding: 0 !important;
   }
   .contact .contactUs__map {
      width: 100%;
   
   }
   .contact .contactUs__map img {
      width: 100% !important;
   }
  
}
@media(max-width: 776px) {
   .contactUs {
      padding-bottom: 0;
   }
   .contact .contactUs__map {
 
      margin-bottom: -10px;
      overflow-x: scroll;
      height: max-content;
   }
   .contact .contactUs__map img {
      width: 797px !important;
      height: 374px;
      scrollbar-width: none; 
      -ms-overflow-style: none;
    
   }
   .contact .contactUs__map::-webkit-scrollbar {
      display: none;
   }
}
@media(max-width: 468px) {
   .contact .contactUs__wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    
   }
   .contact .contactUs__contacts {
      width: 100%;
      padding: 0;
      margin: 0;
      padding: 20px 20px;
   }


   .contact .contactUs> .container {
      padding: 0;
   }

}