

@media(max-width: 468px) {
   .contact .contactUs__wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    
   }
   .contact .contactUs__contacts {
      width: 100%;
      padding: 0;
      margin: 0;
      padding: 20px 20px;
   }
   .contact .contactUs__map>div{
      display: none !important;
   }

   .contact .contactUs> .container {
      padding: 0;
   }
   .contact .contactUs__map {
      display: block !important;
      height: 374px;
      width: 100% !important;
      padding: 0;
   }
   .contact .contactUs__map>img {
      object-fit: fill !important;
   }
}