/* header */
.header {
   padding-top: 30px;
   width: 100%;
   background-image: url(../assets/images/header/Frame\ 1.png);
   border-radius: 0 0 60px 60px;
   background-repeat: no-repeat;
}

.header__top__wrapper {
   display: flex;
   justify-content: space-between;
}
.header__top__tel {
   display: flex;
   align-items: center;
   column-gap: 16.06px;
}
.header__top__tel>span:has(img) {
   width: 17.88px;
   height: 17.88px;
}
.header__top__tel>span:has(img)>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.header__top__tel>span:has(a)>a {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: var(--white--text);
}

.header__top__logo>a {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 40px;
   color: var(--white--text);
}

.header__top__lang>span:has(img) {
   width: 24px;
   height: 24px;
   display: block;
}
.header__top__lang>span:has(img)>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.header__top__lang>span {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: var(--white--text);
}
.header__top__lang {
   column-gap: 24.93px;
   display: flex;
   align-items: center;
}
.navbar {
   margin-top: 20px;
   padding-left: 110px;
}
.navbar__wrapper {
   width: max-content;
   margin: 0 auto;
}
.navbar__wrapper>ul {
   display: flex;
   column-gap: 86px;
   align-items: center;
   justify-content: space-between;
}
.navbar__wrapper>ul>li>a {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: var(--white--text);
}
.header__body {
   padding-top: 160px;
   padding-bottom: 265px;
   padding-left: 95px;
}

.header__body__title {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 90px;
   line-height: 105px;
   color: var(--white--text);
}
.header__body__title>span {
   font-weight: 500;
}
.header__body__footer {
   margin-top: 30px;
}
.header__body__footer__more {
   background: var(--white--brown);
   color: var(--white--text);
   margin-right: 30px;
}
.header__body__footer__videolink {
   color: var(--white--text);
}