@import "resetAndRoot.css";
@import "fonts.css";
@import "header.css";
@import "aboutUs.css";
@import "services.css";
@import "products.css";
@import "team.css";
@import "contactUs.css";
@import "footer.css";
@import "pageAbout.css";
@import "history.css";
@import "pageServices.css";
@import "pageProducts.css";
@import "service.css";
@import "product.css";
@import "ourteams.css";
@import "ourteam.css";
.container {
   max-width: 1376.9px;
   margin: 0 auto;
}
