.page__link a {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: var(--black--green);
}

.actived__link {
   font-weight: 700;
}
.page__link .container {
   display: flex;
   margin: 30px 0 91px 0;
   align-items: center;
   column-gap: 22px;
   padding-left: 42px;
}
.whatWeDo {
   padding-bottom: 100px;
}
.whoAreWe__right {
   width: 747px;
   height: 490px;
}
.whoAreWe__right>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.whoAreWe__wrapper, .whatWeDo__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.whatWeDo__wrapper {
   margin-top: 80px;
}
.whoAreWe__left__desc, .whatWeDo__right__desc {
   margin-top: 40px;
   width: 563px;
}

.whatWeDo__left {
   width: 736px;
   height: 492px;
}
.whatWeDo__left>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}


.about__us__custom__subtitle {
   margin-bottom: 60px;
}


.history__slide__inner {
   display: flex;
   transition: 0.3s;
 }
 .history__slide {
   width: 520px;
   height: 1000px;

 }
 .slide__wrapper {
   display: flex;
   align-items: flex-start;
 }
 .history__slide__inner {
   width: max-content;
 }
 .car__2006 {
   position: relative;
   padding-bottom: 50px;
 }
 .car__2006__hr {
   position: absolute;
   top: 397px;
   right: 0;
   width: 80px;
   height: 3px;
   background-color:  #CC9964;;
 }
 .car__2006 .slider__date {
   margin-top: 60px;
   margin-right: -20px;
   margin-left: -37px;
 }
 .history .custom__text {
   margin-top: 20px;
   padding-right: 110px;
 }
 .car__2006 {
   display: flex;
   align-items: center
 }
 .car__2009__2011 {
   position: relative;
 }


 .car__2009__top  .slider__date{
   position: absolute;
   top: 90px;
   left: -7px;
 }
 .car__2009__top .car__2009__2011__top__desc {
   position: absolute;
   right: 110px;
   top: 45px;
   width: 287px;
 }
 .car__2009__top .car__2009__2011__top__desc .custom__text {
   padding: 0;
 }

 .car__2009__2011__bottom .car__2009__2011__top__desc {
   position: absolute;
   width: 287px;
   bottom: 220px;
   right: 0;
 }
 .car__2009__2011__bottom .custom__text {
   padding: 0;
 }

 .car__2009__2011__bottom .slider__date {
   position: absolute;
   bottom: 410px;
   right: 290px;
 }

 .car__2009__top {
   border-bottom: 3px solid #CC9964;
   border-left: 3px solid #CC9964;
   height: 400px;
 }
 .car__2009__top:last-child {
   border-right: 3px solid #CC9964;
 }

 .car__2009__2011__hr {
   position: absolute;
   width: 3px;
   height: 235px;
   left: 110px;
   top: 400px;
   background-color:  #CC9964;;
 }
 .history__slider__wrapper {
   width: 100%;
   overflow-x: hidden;
   margin-top: 93px;
 }    

 @media(max-width: 468px) {
  .whoAreWe__wrapper, .whatWeDo__wrapper {
    flex-direction: column;
    row-gap: 25px;
  }
  .whoAreWe__left__desc, .whatWeDo__right__desc {
    width: 100%;
  }
  .whatWeDo__left {
    order: 1;
  }
  .whoAreWe__right {
    width: 100%;
    height: 254px;
  }
  .whoAreWe__right>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .whatWeDo__left {
    width: 100%;;
    height: 254px;
  }
  .whatWeDo__left>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .page__link > .container {
    margin-bottom: 40px;
   
  }
 }