.products__list {
   padding-bottom: 120px;
}
.products__list__wrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}

.products__list__box {
   height: 344px;
   border: 2px solid var(--white--brown);
   border-radius: 50px;
   padding-top: 52.01px;
   position: relative;
}
.products__list__box>img {
   display: block;
   margin: 0 auto;
}
.mini__link {
   display: none;
}
.products__list__box__text {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 32px;
   color: var(--black--green);
   text-align: center;
   position: absolute;
   bottom: 42px;
   left: 50%;
   transform: translateX(-50%);
   width: max-content;
}
@media(max-width: 992px) {
   .products__list__wrapper {
      grid-template-columns: repeat(2, 1fr) !important;
   }
}
@media(max-width: 468px) {
   .products__list__wrapper {
      grid-template-columns: repeat(1, 1fr);
   }
   .products__list__box {
      display: none;
   }
   .products__list__box:nth-child(1),.products__list__box:nth-child(2),.products__list__box:nth-child(3),.products__list__box:nth-child(4),.products__list__box:nth-child(5),.products__list__box:nth-child(6) {
      display: block;
   } 
   .mini__link {
      display: block;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: var(--black--green);
      text-decoration: underline;
      width: max-content;
      margin: 40.12px auto 0 auto;
   }
}