.privacy {
   padding-bottom: 160px;
}
.privacy__wrapper {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--black--green);
   width: 913px;
   margin: 0 auto;
}