.products {
   padding-bottom: 100px;
}
.products__wrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-top: 40px;
}
.products__item {
   border: 2px solid var(--border--wtite--brown);
   border-radius: 50px;
   height: 344px;

}
.products__item>img {
   display: block;
   margin: 0 auto;
   margin-top: 47px;
}
.products__item {
   position: relative;
}
.products__item__text {
   color: var(--black--green);
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 32px;
   text-align: center;
   position: absolute;
   bottom: 42px;
   left: 50%;
   width: max-content;
   transform: translateX(-50%);
}

.proticts__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.min__see__link {
   display: none;
}
@media(max-width: 468px) {
   .products__wrapper {
      grid-template-columns: repeat(1, 1fr);
   }
   .products__item:nth-child(4), .products__item:nth-child(5),.products__item:nth-child(6),.products__item:nth-child(7),.products__item:nth-child(8) {
      display: none;
   }
   .products__title {
      font-size: 44px;
      line-height: 50px;
   }
   .see__link {
      display: none;
   }
   .min__see__link {
      display: block;
      text-align: center;
      margin-top: 28.12px;
   }
}