.product {
   padding-bottom: 160px;
}
.product__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 154px;
}
.custom__subtitle {
   margin-bottom: 40px;
}
.product__desc__desc {
   width: 563px;
}
.product__image {
   height: 463px;
   width: 490px;
}
.product__image>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}