* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul, ol {
   list-style-type: none;
}
a {
   text-decoration: none;
}
h1, h2, h3, h4, h5 {
   font-weight: normal;
}
body {
   background: var(--bg--white--brown);
}
.custom__button {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   width: 202px;
   height: 53px;
   border-radius: 70px;
   padding: 10px 38px;
}
.custom__links {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 36px;
   text-decoration: underline;
}


.custom__title {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 90px;
   line-height: 105px;
   color: var(--white--brown);
   text-decoration: none !important;
   border: none;
}
:root {
   --black--green: #00543D;
   --white--text: #FFF1D4;
   --white--brown: #CC9964;
   --bg--white--brown: #FFF1D4;
   --border--wtite--brown: #CC9964;
}