* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
   user-select: none;
}
ul, ol {
   list-style-type: none;
}
a {
   text-decoration: none;
}
h1, h2, h3, h4, h5 {
   font-weight: normal;
}
body {
   background: var(--bg--white--brown);
}
.custom__button {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   width: 202px;
   height: 53px;
   border-radius: 70px;
   padding: 10px 38px;
}
.custom__links {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 36px;
   text-decoration: underline;
   color: var(--white--text)
}


.custom__title {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 90px;
   line-height: 105px;
   color: var(--white--brown);
   text-decoration: none !important;
   border: none;
}
.see__link {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 36px;
   color: var(--black--green);
   text-decoration-line: underline;
}
.page {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 90px;
   line-height: 105px;
   text-align: center;
   color: var(--white--text);
   margin-top: 84px;
}
.custom__subtitle {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 60px;
   line-height: 34px;
   color: var(--white--brown);
}
.up {
   height: 37.857143402099645px;
   width: 37.857143402099645px;
   position: fixed;
   bottom: 96px;
   right: 20px;
   background: white;
   border-radius: 100%;
   cursor: pointer;
   display: none;
   z-index: 10;
}
.up>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}


.slider__date {
   font-family: 'Bahnschrift';
   font-style: normal;
   font-weight: 700;
   font-size: 70px;
   line-height: 51px;
   color: var(--black--green);
   letter-spacing: -0.015em;
   transform: rotate(270deg);
}
.custom__text {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--black--green);
}
:root {
   --black--green: #00543D;
   --white--text: #FFF1D4;
   --white--brown: #CC9964;
   --bg--white--brown: #FFF1D4;
   --border--wtite--brown: #CC9964;
}