.services {
   padding-bottom: 160px;
}
.services__top {
   width: 447px;
}

.services__desc {
   margin-top: 30px;
}
.services__button {
   margin-top: 30px;
}
.services__button>a {
   background: var(--black--green);
   color: var(--white--text);
}

.services__slider {
   margin-top: 70px;
   position: relative;
}
.services .slider {
   width: 100%;

}
.services .slick-list {
   
  
   width: 100%;
 }
.services .slider img {
   max-width: 100%;
   height: auto; 
}
.services .slick-slide {
   position: relative;
   width: 100%;
   margin: 0 10px;
}
.services .slick-slide>img {
   width: 100%;
   object-fit: fill;
}
.slider__image__box {
   position: absolute;
   bottom: 0;
   right: 0;
   background: #000000;
   background-blend-mode: soft-light;
   opacity: 0.7;
   backdrop-filter: blur(35px);
   border-radius: 0px 0px 50px 50px;
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 38px;
   display: flex;
   align-items: center;
   color: #FFFFFF;
   width: 100%;
   height: 93.28px;
   padding-left: 27px;
}
.services .slider__arrow--next, .services .slider__arrow--prev {
   position: absolute;
   top: -60.14px;
   right: 5px;
   width: 37.86px;
   height: 37.86px;
   transform: matrix(-1, 0, 0, 1, 0, 0);
   background: var(--black--green);
   border: none;
   border-radius: 100%;
   color: var(--white--text);
   cursor: pointer;

}
.services .slider__arrow--prev {
   right: 57.14px !important;
   display: block;
}
@media(max-width: 1100px) {
   .services__title {
      font-size: 60px;
      margin-left: 20px;
   }
   .services__desc {
      padding: 20px;
   }
   .services__button {
      padding-left: 20px;
   }
   .services .slick-slide {
      margin: 10px ;
   }
}
@media(max-width: 660px) {
   .team__slider__box__image {
      width: 400px;
   }
}
@media(max-width: 468px) {
   .services__title {
      font-size: 44px;
      line-height: 50px;
      margin-left: 0 !important;
   }
   .services__desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      padding: 0;
   }
   .services__top {
      width: 100%;
   }
   .services .slick-slide {
      margin: 0;
   }
   .services {
      padding-bottom: 90.21px;
   }
   .services__button {
      padding-left: 0;
   }
   .services__button>a {
      display: block;
      width: 100%;
      text-align: center;
   }
}