.team__slider {
   margin-top: 60px;
}
.team__slider__box {
   height: 274.56px;
   border-radius: 39.9075px;
   background: var(--black--green);
   padding-top: 26px;
   padding-left: 31.93px;
   padding-right: 25.26px;
}
.team .slick-slide {
   margin: 0 10.32px;
}
.team__slider__box__desc__title {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 26px;
   color: var(--white--text);
   margin-bottom: 21.89px;
}
.team__slider__box__desc__body {
   font-family: 'Sofia Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   color: var(--white--text);
}
.team__slider__box__wrapper {
   display: flex;
   align-items: center;
}
.team__slider__arrow--next, .team__slider__arrow--prev {
   position: absolute !important;
   top: -60.14px !important;
   right: 5px !important;
   width: 37.86px !important;
   height: 37.86px !important;
   transform: matrix(-1, 0, 0, 1, 0, 0) !important;
   background: var(--black--green) !important;
   border: none !important;
   border-radius: 100% !important;
   color: var(--white--text) !important;
   cursor: pointer !important;
}
.team__slider__arrow--prev {
   right: 57.14px !important;
}

.team .see__link {
   text-align: right;
   margin-top: 31.44px;
}
@media(max-width: 992px) {
   .team__title {
      font-size: 60px;
      margin-left: 20px;
   }
   .team__slider__box__image {
      width: 500px;
      height: 200px;
   }
   .team__slider__box__image>img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   .see__link {
      margin-right: 20px;
   }
}
@media(max-width: 468px) {
   .team__title {
      font-weight: 600;
      font-size: 44px;
      line-height: 50px;
      margin-left: 0 !important;
   }
   .team__slider__box__desc__title {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 13.84px;
   }
   .team__slider__box__desc__body {
      font-size: 10px;
      line-height: 16px;
      width: 124px;
   }
   .team__slider__box {
      padding-top: 0;
      height: 194px;
      padding-right: 0;
   }
   .team__slider__box__image {
      width: 159px;
      height: 204px;
   }
   .team__slider__box__image>img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   .team {
      padding-bottom: 90px;
   }
   .see__link {
      display: block;
      color: var(--black--green);
      text-align: center;
      width: max-content;
      margin: 0 auto;
   }
   .team .slick-slide {
      margin: 0 3px !important;
   }
}

@media(max-width: 320px) {
   
   .container {
      padding: 20px;
   }
   .team .slick-slide {
      padding-top: 10px;
   }
   .team__slider__box__image {
      display: none;
   }
   .team__slider__box__image>img {
      width: 100% !important;
      object-fit: fill !important;
   }
   .team .slick-slide {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center
   }
}
